<button nz-button nzType="primary" (click)="showModal()"><i nz-icon nzType="plus"></i>Add DB</button>
<div nz-row>
    <div nz-col nzSpan="24">
        <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listOfData"
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
            <thead>
                <tr>
                    <th nzWidth="40px" [nzLeft]="fixedColumn"></th>
                    <th [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                        (nzCheckedChange)="onAllChecked($event)"></th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of rowSelectionTable.data">
                    <tr>
                        <td [nzLeft]="fixedColumn" [(nzExpand)]="data.expand"></td>
                        <td [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled"
                            (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.age }}</td>
                        <td>{{ data.address }}</td>
                    </tr>
                    <tr [nzExpand]="data.expand">
                        <app-add-db *ngIf="data.expand"></app-add-db>
                    </tr>
                </ng-container>
            </tbody>
        </nz-table>
    </div>
</div>