<form nz-form [formGroup]="form">
    <div nz-row [nzGutter]="24">
        <div nz-col class="gutter-row" [nzSpan]="24">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="host">Host</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Host">
                    <input nz-input formControlName="host" id="host" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col class="gutter-row" [nzSpan]="24">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
                    <input nz-input type="password" id="password" formControlName="password"  />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col class="gutter-row" [nzSpan]="24">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>DB Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Database Name">
                    <input nz-input type="text" id="dbName" formControlName="dbName" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="24">
        <div nz-col class="gutter-row" [nzSpan]="24">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="port">Port</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Database Port">
                    <input nz-input formControlName="port" id="port" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row [nzGutter]="24" nzJustify="end">
        <div nz-col nzSpan="4">
            <button nz-button nzType="primary"><i nz-icon nzType="save"></i>Save</button>
        </div>
        <div nz-col nzSpan="4">
            <button nz-button nzType="primary"><i nz-icon nzType="rollback" nzTheme="outline"></i>Cancel</button>
        </div>
    </div>
</form>